name: unittest
on: 
  push:
    branches: [main, master, dev]
  pull_request:
    branches: [main, master, dev]
    
jobs: 
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Test by running code
        run: |
          py app.py